* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
  
body {
  background-color: #E2DED0;
}

body p {
  color: #E2DED0;
}

body li {
  color: #616C59;
}

.social {
  text-align: center;
  font-size: 30px;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 75px;
  background-color: #E2DED0;
  position: relative;
  z-index: 1000;
}
  
header img {
  height: 60px;
  align-self: center;
}

.photo {
  width: 100%;
  height: 300px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
  
.main-content-container {
  margin: auto;
  display: flex;
  max-width: 1300px;
  justify-content: space-around;
  align-content: center;
  position: relative;
  z-index: 10;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #616c59;
  min-height: 100vh;
  transition: linear 2s;
}

.sidebar img {
  border-radius: 100%;
}

.menu-nav {
  padding-top: 40px;
  display: flex;
  flex-direction: column;   
  align-self: center;
}

.menu-nav label {
  font-weight: 500;
  font-size: 17px;
  color: white;
  text-decoration: none;
  cursor: default;
  opacity: 0.8;
  padding: 10px 0;
}

.menu-nav label:hover {
    opacity: 1;
}

.dropdown-content {
  display: none;
  opacity: 0.95;
}

.dropdown-content label {
    display: block;
    padding: 10px 5px;
    width: 130px;
}

.dropdown:hover .dropdown-content {display: block;}

.hide {
  display: none;
}

h2 {
  margin-top: 50px;
  font-size: 60px;
  color: #616C59;
}

#inicio-container-format {
  height: 100%;
  padding-top: 10%;
  display: block;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  margin-top: 50px;
}

#fei-logo, #trybe-logo{
  max-width: 100px;
}

.paragraph {
  margin-left: 50px;
  max-width: 900px;
  text-align: justify;
}

.paragraph li {
  font-size: 18px;
  margin: 10px;
}

.form {
  margin-left: 25px
}

.form-label{
  color: #616c59;
  font-size: 18px;
}

.form-input{
  border-radius: 5px;
  height: 25px;
  color: black;
  border: solid #616c59 1px;
}

.form-message {
  border-radius: 5px;
  border: solid #616c59 1px;
  color: black;
}

.btn {
  background-color: #616c59;
  margin: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
}

footer {
  margin-top: 100px;
  background-color: #616c59;
  height: 180px;
  display: flex;
  justify-content: center;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 20px;
  font-size: 20px;
  font-weight: 500;
}

.nav {
  padding: 5px;
}
.footer-container nav ul, .footer-contact ul {
  list-style: none;    
}

.footer-contact ul li {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 17px;
}

#trybe-works {
  display: none;
  width: 80%;
}

.content-img {
  margin: auto;
  margin-bottom: 5px;
  width: 95%;
  height: 500px;
}

.content-img img {
  width: 100%;
  height: 100%;
}

#pro-works {
  display: none;
  width: 80%;
}

.space {
  background-color: #E2DED0;
  height: 15px;
  position: relative;
  z-index: 1000;
}

#trybe-works label {
  display:flex;
  flex-direction: column;
  min-height: 40px;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  position: relative;
  z-index: 10;
}

#pro-works label {
  display:flex;
  flex-direction: column;
  min-height: 40px;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  position: relative;
  z-index: 10;
}

.radio {
  display: none;
} 

#pixelsArt-toDoList-content {
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  -webkit-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  transform: translateY(-1000px);
  transition-duration: 0.5s;
  position: relative;
  z-index: 0;
}

#facebook-signup-content{
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  -webkit-transform: translateY(-1500px);
  -ms-transform: translateY(-1500px);
  transform: translateY(-1500px);
  transition-duration: 0.5s;
  position: relative;
  z-index: 0;
}

#shopping-cart-content{
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  -webkit-transform: translateY(-2000px);
  -ms-transform: translateY(-2000px);
  transform: translateY(-2000px);
  transition-duration: 0.5s;
  position: relative;
  z-index: 0;
}

#movie-card-content{
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  -webkit-transform: translateY(-2000px);
  -ms-transform: translateY(-2000px);
  transform: translateY(-2000px);
  transition-duration: 0.5s;
  position: relative;
  z-index: 0;
}

#front-end-store-content{
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  -webkit-transform: translateY(-2000px);
  -ms-transform: translateY(-2000px);
  transform: translateY(-2000px);
  transition-duration: 0.5s;
  position: relative;
  z-index: 0;
}

#star-wars-content{
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  -webkit-transform: translateY(-2000px);
  -ms-transform: translateY(-2000px);
  transform: translateY(-2000px);
  transition-duration: 0.5s;
  position: relative;
  z-index: 0;
}

#star-wars-content{
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  -webkit-transform: translateY(-2000px);
  -ms-transform: translateY(-2000px);
  transform: translateY(-2000px);
  transition-duration: 0.5s;
  position: relative;
  z-index: 0;
}

#recipe-app-content{
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  -webkit-transform: translateY(-2000px);
  -ms-transform: translateY(-2000px);
  transform: translateY(-2000px);
  transition-duration: 0.5s;
  position: relative;
  z-index: 0;
}

#pixelsArt-toDoList:checked ~ #pixelsArt-toDoList-content {
  display: flex;
  height: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition-duration: 1.5s;
}

#facebook-signup:checked ~ #facebook-signup-content {
  height: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition-duration: 1.5s;;
}

#shopping-cart:checked ~ #shopping-cart-content {
  height: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition-duration: 1.5s;;
}

#movie-card:checked ~ #movie-card-content {
  height: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition-duration: 1.5s;
}

#front-end-store:checked ~ #front-end-store-content {
  height: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition-duration: 1.5s;
}

#star-wars:checked ~ #star-wars-content {
  height: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition-duration: 1.5s;
}

#recipe-app:checked ~ #recipe-app-content {
  height: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition-duration: 1.5s;
}

#little-life-content{
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  -webkit-transform: translateY(-2000px);
  -ms-transform: translateY(-2000px);
  transform: translateY(-2000px);
  transition-duration: 0.5s;
  position: relative;
  z-index: 0;
}

#e-move-content{
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  -webkit-transform: translateY(-2000px);
  -ms-transform: translateY(-2000px);
  transform: translateY(-2000px);
  transition-duration: 0.5s;
  position: relative;
  z-index: 0;
}

#skill-project-content{
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  background-color: #616c59;
  border: solid white 1px;
  padding-left: 5px;
  -webkit-transform: translateY(-2000px);
  -ms-transform: translateY(-2000px);
  transform: translateY(-2000px);
  transition-duration: 0.5s;
  position: relative;
  z-index: 0;
}

#little-life:checked ~ #little-life-content {
  height: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition-duration: 1.5s;
}

#e-move:checked ~ #e-move-content {
  height: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition-duration: 1.5s;
}

#skill-project:checked ~ #skill-project-content {
  height: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition-duration: 1.5s;
}

#menu-button {
  display: none;
}

@media only screen and (min-width: 600px) {
  #menu-mobile {
    display: none;
  }

  h2 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {

  #menu-button {
    background-color: #E2DED0;
    border: none;
    display: flex;
  }

  #menu-icon {
    color: #616C59;
    font-size: x-large;
  }

  .sidebar {
    display: none;
  }

  .list {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .mobile-list {
    list-style: none;
    background-color: #616c59;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 500;
    border: solid 1px white;
    padding: 2px;
    margin: 2px;
  }

  .mobile-list:hover {
    background-color: #E2DED0;
    color: #616c59;
  }

  .show {
    display: flex;
    flex-direction: column;
  }

  .content-container {
    margin: 2px;
  }

  #fei-logo {
    display: none;
  }

  #trybe-logo {
    display: none;
  }

  .paragraph {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
  }

  h2 {
    text-align: center;
    width: 100%;
    font-size: 40px;
    margin: 2px;
  }

  #inicio-container-format {
    margin: 0;
    padding: 0;
  }

  .content-img {
    width: 100%;
    height: auto;
    padding: 5px;
    text-align: center;
  }

  #formulario {
    width: 100%;
    padding: 3px;
  }

  .form-message {
    width: 100%;
  }

  .social {
    color: #616c59;
  }

  i {
    color: #616c59;
  }

}
