body{
    font-family: 'Montserrat', sans-serif;

}
h1{

font-weight: 700 bold;
}
#foto{
    border-radius: 100%;
}
.top{
    display: inline-flex;
}
#top-list{
    list-style-type: none;
}
#top-nome{
    margin-left: 30px;
}